<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 p-1">
        <div class="card m-2">
            <div class="card-header">
                <h4>
                Settings
                <button class="d-inline btn btn-light onecard" (click)=newGameClick() >New Game</button>
                <button class="d-inline btn btn-light onecard" (click)=startGameClick() >Start Game</button>
                </h4>
            </div>
            <div class="card-body" >
                <div>
                    <div class="form-group">
                            <label for="formControlRange">Players: {{players}}</label>
                            <input type="range" class="form-control-range" id="formControlRange" value={{players}} min=1 max=24 [(ngModel)]=players >
                    </div>
                </div>
                
                <div class="players">
                <ol>
                    <li *ngFor="let playerElement of playersList; let i = index" [hidden]="i >= players">
                        <div class="form-group">
                            <div class="form-check form-check-inline" *ngFor="let type of playersTypes; let n = index">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions{{i}}" id="inlineRadio{{n}}-{{i}}" value={{type}} [(ngModel)]=playerElement.type>
                                <label class="form-check-label" for="inlineRadio{{n}}-{{i}}">{{type}}</label>
                            </div>
                        </div>
                    </li>
                </ol>
                </div>  
                
                <div class="deck">
                Deck: 
                <span 
                    *ngFor="let card of deck"
                    class="btn btn-light disabled onecard"
                    [ngClass]=card.getColorStyle()>
                    {{card.toString()}} 
                </span>
                </div>
            </div>
        </div>

    </div>
    <div class="col p-1">

        <div class="card m-2">
            <div class="card-header">
                <h4>
                Board
                </h4>
                Token: Player {{board.getToken() + 1}};
                Moves: {{board.getMovesCount()}}
            </div>
            <div class="card-body" >                       
                <div class="players">
                <ol>
                    <li *ngFor="let player of board.getPlayers()">
                        <button 
                            *ngFor="let card of player.cards" 
                            (click)=board.action(card)
                            class="btn btn-light onecard"
                            [ngClass]=card.getColorStyle()
                            [disabled]="!board.isActionAvalible(card, player.id)" >
                            {{card.toString()}} 
                        </button>
                        <button
                            *ngFor="let figure of player.getFigureActions(board.getStack().length)" 
                            class="btn btn-light onecard" 
                            (click)=board.setComboMode(figure)
                            [disabled]="!board.isComboActionAvalible(figure, player.id)" >
                            {{numberToFigure(figure)}} 
                        </button>
                    </li>
                </ol>
                </div>
                
                <div class="stack">
                Stack: 
                <span 
                    *ngFor="let card of board.getStack()" 
                    class="btn btn-light disabled onecard"
                    [ngClass]=card.getColorStyle()>
                    {{card.toString()}}
                </span>
                <button 
                    (click)=board.getFromStack()
                    class="btn btn-light onecard"
                    [hidden]="!(board.getStack().length > 1)">
                    Get cards
                </button>
                </div>
            </div>
        </div>
    </div>
</div>
