<div class="form-group row newGame">
    <label class="form-label">Players: </label>
    <input class="form-control players-input" type="number" value={{players}} min=1 max=24 [(ngModel)]=players >
    <button class="btn btn-light onecard" (click)=newGameClick() >New Game</button>
</div>

<div class="deck">
    Deck: 
    <span 
        *ngFor="let card of deck"
        class="btn btn-light disabled onecard"
        [ngClass]=card.getColorStyle()>
        {{card.toString()}} 
    </span>
</div>

<div>
    Token: Player {{board.getToken() + 1}}
</div>

<div class="players">
    <ol>
        <li *ngFor="let player of board.getPlayers()">
            <button 
                *ngFor="let card of player.cards" 
                (click)=board.action(card)
                class="btn btn-light onecard"
                [ngClass]=card.getColorStyle()
                [disabled]="!board.isActionAvalible(card, player.id)" >
                {{card.toString()}} 
            </button>
            <button
                *ngFor="let figure of player.getFigureActions(board.getStack().length)" 
                class="btn btn-light onecard" 
                (click)=board.comboMode(figure)
                [disabled]="!board.isComboActionAvalible(figure, player.id)" >
                {{numberToFigure(figure)}} 
            </button>
        </li>
    </ol>
</div>

<div class="stack">
    Stack: 
    <span 
        *ngFor="let card of board.getStack()" 
        class="btn btn-light disabled onecard"
        [ngClass]=card.getColorStyle()>
        {{card.toString()}}
    </span>
    <button 
        (click)=board.getFromStack()
        class="btn btn-light onecard"
        [hidden]="!(board.getStack().length > 1)">
        Get cards
    </button>
</div>