@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css");

.red {
    color: red !important;
}

.black {
    color: black !important;
}

.onecard {
    opacity: 1 !important;
    margin: 1px !important;
}

button:enabled {
    border-style: solid !important;
    border-color: black !important;
}

.players-input {
    width: 70px !important;
}

.newGame {
    margin: 10px !important;
}
