@import '../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '../node_modules/@blueprintjs/core/lib/css/blueprint.css';

.card, .card:disabled:hover {
  padding: 2px;
  margin: 1px;
  width: 40px;
  height: 40px;
  background: none;
  border: 2px solid;
  border-radius: 10px;
  font-weight: bold;
  font-size: large;
  font-family: Consolas;
  color: #00f;
}
.card {
  background: #ff0;
}
.card:hover {
  border: 4px dotted;
}
.card:disabled {
  background: #FFF;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.over {
  position: absolute;
  top: 0;
  left: 0;
}
